{% extends 'layouts/app.html' %}

{% block content %}
{% load widget_tweaks %}
<div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="card col-6 p-5" style="">
        <form method="post" novalidate class="">
        <fieldset><legend>Login</legend>
                {% csrf_token %}
                
                {% if form.non_field_errors|length %}
                    <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                        <small class="form-text text-muted">{{ error }}</small>
                        {% endfor%}
                    </div>
                {% endif %}
              
                {% for field in form %}
                    <div class="form-group">
                       
                        {{ field.label_tag }} {% if field.field.required %}<span class="required text-danger">*</span>{% endif %}
                    
                            {% if field.errors %}
                            {{ field|add_class:'form-control is-invalid' }}
                            {% else %} 
                            {{ field|add_class:'form-control' }}
                            {% endif %}
                        <div class="invalid-feedback">{% for error in field.errors %}{{ error }}{% endfor%}</div>
                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                        {% endif %}
                    </div>
                {% endfor %}
                <input type="submit" value="Login" class="btn btn-primary">
                <a href="{% url 'password_reset' %}">Reset Password</a>
            </fieldset>
            </form>
    </div>
</div>

{% endblock %}