{% extends "layouts/app.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
{% load widget_tweaks %}

<div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="card col-6 p-5" style="">
        <fieldset><legend>Reset password</legend>
            <p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>
            <form method="post" novalidate class="">
                {% csrf_token %}
                
                {% if form.non_field_errors|length %}
                    <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                        <small class="form-text text-muted">{{ error }}</small>
                        {% endfor%}
                    </div>
                {% endif %}
              
                {% for field in form %}
                    <div class="form-group">
                       
                        {{ field.label_tag }} {% if field.field.required %}<span class="required text-danger">*</span>{% endif %}
                    
                            {% if field.errors %}
                            {{ field|add_class:'form-control is-invalid' }}
                            {% else %} 
                            {{ field|add_class:'form-control' }}
                            {% endif %}
                        <div class="invalid-feedback">{% for error in field.errors %}{{ error }}{% endfor%}</div>
                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                        {% endif %}
                    </div>
                {% endfor %}
                <input type="submit"  class="btn btn-primary" value="{% translate 'Reset my password' %}">
            </form>
        
    </div>
</div>


{% endblock %}
